.section {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 4px;
  color: #fff;
  cursor: default;
}

.logo span {
  color: #ef8354;
}

.themeMode ul {
  display: flex;
  gap: 10px;
}

.themeMode ul li {
  background-color: #fff;
  padding: 10px 12px;
  border-radius: 50%;
  color: black;
  opacity: 0.5;
  border: 1px solid #2d3142;
  cursor: pointer;
  transition: 0.5s;
}

.themeMode ul li:hover {
  opacity: 1;
  color: #ef8354;
  border: 1px solid #ef8354;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 70vh;
}

.info-left {
  width: 28%;
  background-color: #363b53;
  border-radius: 20px;
  border: 1px solid #ffffff27;
}

.card {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  gap: 50px;
  padding: 20px;
  color: white;
  position: relative;
}

.card img {
  border-radius: 50%;
  border: 5px solid #ef8354;
  object-fit: cover;
}

.card-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card-top h1 {
  font-size: 20px;
}

.card-top p {
  opacity: 0.7;
}

.soc-icons {
  width: 100%;
}

.soc-icons ul {
  display: flex;
  justify-content: space-between;
}

.soc-icons ul li {
  width: 30%;
  background-color: #BFC0C0;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  border: 1px solid #2d3142;
  opacity: 0.7;
  transition: 0.5s;
}

.soc-icons ul li a {
  height: 17px;
}

.soc-icons ul li:nth-child(1) a {
  color: #1877F2;
}
.soc-icons ul li:nth-child(2) a {
  color: #0a66c2;
}
.soc-icons ul li:nth-child(3) a {
  color: #24292e;
}

.soc-icons ul li:hover {
  opacity: 1;
  color: #ef8354;
  border: 1px solid #ef8354;
  background-color: #fff;
}

.card-mid {
  width: 100%;
}

.card-mid ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-mid ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.158);
  padding-bottom: 20px;
}

.card-mid ul li a {
  color: white;
}

.card-mid ul li span {
  color: #ef8354;
}

.info-right {
  width: 68%;
  background-color: #363b53;
  border-radius: 20px;
  border: 1px solid #ffffff27;
  padding: 20px;
}

.code-icon {
  color: #ef8354;
  font-size: 100px;
  font-weight: bolder;
}

.welcome-text {
  margin-left: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome-text h1 {
  width: fit-content;
  color: white;
}

span.Typewriter__wrapper > span {
  color: #ef8354;
  border-bottom: 3px solid #ef8354;
  font-weight: bolder;
}

span.Typewriter__wrapper > p {
  font-size: 15px;
}

span.Typewriter__wrapper > p > a {
  color: rgba(255, 255, 255, 0.685);
  border-bottom: 3px solid #ef8354;
  font-size: 16px;
  transition: 0.5s;
}

span.Typewriter__wrapper > p > a:hover {
  color: white;
}

/*about*/
.about {
  width: 100%;
  height: 80vh;
  background-color: #363b53;
  border-radius: 20px;
  border: 1px solid #ffffff27;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.about h1 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.852);
  border-bottom: 4px solid #ef8354;
  width: fit-content;
}

.about p {
  color: rgba(255, 255, 255, 0.676);
  line-height: 20px;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/*projects*/
.Psection {
  width: 90%;
  min-height: 100vh;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px
}

.item {
  background-color: #363b53;
  border-radius: 20px;
  border: 1px solid #ffffff27;
  width: 32%;
}

.item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.item h2 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.858);
  padding: 20px 10px;
}