* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #2D3142;
  font-family: "BPG Nino Mtavruli", sans-serif;
}